<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SusanooTests" connectionString="Data Source=devrs\SQL2012A;Initial Catalog=MedTrack2;Integrated Security=True;Persist Security Info=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>